
$header-image: url('/img/banner4.jpg');

// Main font color

$main-color: #fff;
$active-color: #c00;

$hr-color: #292929;
$gray-color: #939393;

// Background color
$dark-color: #0d0d0d;
$bg-color: #f7f7f7;


$black-color: #000;

$shadow-color: rgba(255, 255, 255, 0.05);

// FONT FAMILY
// FONT FAMILY

	$logo-font: "Poiret One";


// 
