
// Fonts
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600|Poiret+One|Open+Sans|Lato|Asap|Play');
@import "extras/variables";
@import "extras/mixins";

// Extras
@import "extras/reset";
@import "extras/grid";



@import "color-schemes/scheme1";


// @import "hamburgers/hamburgers";

// IMPORT TABS SECTIONS 
@import "services";
@import "portfolio";
@import "contact";
@import "header";
@import "about";




html, body {
	font-size: 18px;
	font-family: 'Raleway';

	color: $black-color;
	box-sizing: content-box;


}



h1 {
	font-weight: 600;
	@media (max-width: 768px) {
		font-size: 1.35rem;

	}
	@media (min-width: 768px) {
		font-size: 2.2rem;
	}
	
}


p {
	color: $color7;
}





body {
	box-sizing: border-box;
	background: $bg-color;
}



.container, .container-fluid {
	
	&.footer {
		min-height: 95vh;
		// max-height: 80vh;
	}

	&.standard {
		max-height: 100%;
		min-height: 100vh;
	}

}




.logo {
	top: 10px;
	left: 10px;
	position: absolute;
	// &:after {
		// 	content: 'Daniel';
		// 	font-size: .5rem;
		// 	position: absolute;
		// 	top: 5px;
		// 	left: 11px;
		// 	color: $black-color;
		// }
	}

	.hamburger {
		@media (min-width: 768px) {
			display: none;
		}
	}

	nav.nav-box{
		z-index: 1000;
		background: rgba(0,0,0,.9);

		ul  {


			li {
				cursor: pointer;
				text-align: center;
				display:inline-block;

				a {
					text-decoration: none;
					color: $silver-color;
					display: inline-block;
					font-size: .9rem;
					transition: color 0.3s linear;


				}
			}


		}


		// DEKSTOP
		@media (min-width: 768px) {


			position: fixed;
			top: 0;
			left: 0;
			height: 58px;
			width: 100%;
			padding-bottom: 15px;
			
			ul {
				position:absolute;
				top: 5px;
				right: 20px;
				li a {

					line-height: 50px;
					width: 100px;
					display: inline-block;
					&:before, &:after {
						display:block;
						content: '';
						border-bottom: solid 2px $color3;  
						transform: scaleX(0);  
						transition: transform 250ms ease-in-out;
					}
				}
				li a:hover, li a.active {
					color: $color3!important;
				}

				li a:hover:after, li a.active:after {
					transform: scaleX(1);
				}

				
			}

		}

		// MOBILE
		@media (max-width: 768px) {
			width: 100%;
			height: 100vh;
			position: fixed;
			background: rgba(0,0,0,.8);
			right: 0;
			opacity: 1;
			transition: all 0.3s linear;
			overflow: hidden;


			&.desktop {
				right: -100%;
				opacity: 0;
				transition: all 0.3s linear;

			}


			ul {

				li {
					display: block;

					margin: 30px 0;
					


					a {
						font-size: 2rem;
						color: $silver-color;
						line-height: 50px;
						width: 100%;
						display: block;


					}
				}


			}


		}
	}






























	.page-title {
		font-family: $lato-font;
		font-size: 2rem;
		font-weight: 900;
		letter-spacing: 3px;

		@media (max-width:768px) {
			font-size: 3.5rem;
		}
	}


	.section-heading  {
		height: 110px;
	}













	// UTILS
	// UTILS
	// UTILS
	// UTILS
	// UTILS


	hr { 
		color: rgba(0,0,0,.1);
		width: 75%;
		padding: 0;
	}





	#wrapper {
		display: none;
	}
	$offset: 187;
	$duration: 1.4s;
	#loading-box {
		opacity: .5;
		display: block;
		position: relative;
		height: 100vh;
		.loading {
			animation: rotator $duration linear infinite;

			margin: auto;  
			position: absolute;
			left:0;
			right: 0;
			top: 45%;
		}

	}
	@keyframes rotator {

		0% { transform: rotate(0deg); }
		100% { transform: rotate(270deg); }
	}

	.path {
		stroke-dasharray: $offset;
		stroke-dashoffset: 0;
		transform-origin: center;
		animation:
		dash $duration ease-in-out infinite, 
		colors ($duration*4) ease-in-out infinite;
	}

	@keyframes colors {
		0% { stroke: #999; }
		25% { stroke: #666; }
		50% { stroke: #333; }
		75% { stroke: #000; }
		100% { stroke: #000; }
	}

	@keyframes dash {
		0% { stroke-dashoffset: $offset; }
		50% {
			stroke-dashoffset: $offset/4;
			transform:rotate(135deg);
		}
		100% {
			stroke-dashoffset: $offset;
			transform:rotate(450deg);
		}
	}



	// 
	// hambuger item
	// 






	// HELPER CLASSES // HELPER CLASSES // HELPER CLASSES //
	// HELPER CLASSES // HELPER CLASSES // HELPER CLASSES //
	// HELPER CLASSES // HELPER CLASSES // HELPER CLASSES //
	// HELPER CLASSES // HELPER CLASSES // HELPER CLASSES //
	// HELPER CLASSES // HELPER CLASSES // HELPER CLASSES //
	// HELPER CLASSES // HELPER CLASSES // HELPER CLASSES //
	// HELPER CLASSES // HELPER CLASSES // HELPER CLASSES //
	// HELPER CLASSES // HELPER CLASSES // HELPER CLASSES //
	// HELPER CLASSES // HELPER CLASSES // HELPER CLASSES //
	// HELPER CLASSES // HELPER CLASSES // HELPER CLASSES //
	
	.hamburger {
		position: absolute;
		right: 10px;
		top: 10px;
	}


	.blue-bg{
		background-color: $color2;
	}
	.gray-bg{
		background-color: $color5;
	}


	.text-right {
		text-align: right;
	}
	.text-left {
		text-align: left;
	}

	.text-center {
		text-align: center;
	}

	.spacing { 
		margin: 20px 20px;
		padding: 20px 20px;
	}

	.img-responsive {
		width: 100%;
		height: auto;
	}

	.divider-left {
		border-left: 1px solid black;
	}




	.unselectable {
		-webkit-user-select: none;  /* Chrome all / Safari all */
		-moz-user-select: none;     /* Firefox all */
		-ms-user-select: none;      /* IE 10+ */
		user-select: none;          /* Likely future */
	}
	.shadow-1 {
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
		transition: all 0.3s cubic-bezier(.25,.8,.25,1);
		&:hover {
			box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
		}
	}

	.shadow-2 {
		box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	}

	.shadow-3 {
		box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	}

	.shadow-4 {
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	}

	.shadow-5 {
		box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
	}
	.shadow-6 {
		box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.06);;
	}






